.border{
    border: 2px solid red;
    margin: 3px;
}

.flex{
    display:flex;
}
.justify-center{
    justify-content:center;
}
.item-center{
     align-items: center;
}
.bg-grey{
    background-color: #121212;
}
.rounded{
    border-radius: 7px;
}
.m-1{
    margin: 1px;
}
.p-1{
    padding: 21px 0px 21px 23px;
}
.m-2{
    margin-top: 7px;
    
}